---
export const prerender = true
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import Layout from '../../layouts/default.astro'
import Posts from '../../components/posts.astro'

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const categories = await getCollection('category')
  return categories.map((category) => ({
    params: { slug: category.slug },
    props: { category }
  }))
}

// 2. When it's time to render, you can get the entry directly from the prop
interface Props {
  category: CollectionEntry<'category'>
}
const { category } = Astro.props
const { Content } = await category.render()

const articles = await getCollection('post')
const posts = articles
  .filter((post) => post.data.categories.includes(category.data.title))
  .sort((a, b) => +b.data.date - +a.data.date)
---

<Layout
  title={category.data.plural || category.data.title}
  description={category.data.description}>
  <div class="relative h-96">
    <Image
      src={category.data.image}
      alt={category.data.title}
      class="w-full h-full object-cover"
    />
  </div>

  <div
    class="max-w-4xl mx-auto bg-white py-12 px-12 lg:px-24 -mt-32 relative z-10">
    <h1 class="font-display font-bold text-5xl mb-6">
      {category.data.plural || category.data.title}
    </h1>
    <p class="max-w-lg mx-auto">{category.data.description}</p>
  </div>
  <div class="prose prose-sm sm:prose lg:prose-lg mt-6">
    <Content />
  </div>
  <Posts posts={posts} />
</Layout>
