---
import Layout from '../../layouts/default.astro'
import Stripe from 'stripe'

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {  
  const stripe = new Stripe(import.meta.env.STRIPE_SECRET_KEY, {
    apiVersion: '2022-11-15',
  })
  const products = await stripe.products.list()
  const events = products.data.filter(product => product.metadata.type == 'event')

  return events.map((entry) => ({
    params: { event: entry.id },
    props: { entry }
  }))
}

interface Props {
  entry: Stripe.Product
}

// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props

const stripe = new Stripe(import.meta.env.STRIPE_SECRET_KEY, {
  apiVersion: '2022-11-15',
})
const price = await stripe.prices.retrieve(entry.default_price! as string)
---

<Layout title={entry.name} description={entry.description!}>
  <div class="relative h-96 bg-neutral-300">
    {entry.images &&
      <img src={entry.images[0]} class="w-full h-full object-cover" />
    }
  </div>

  <div
    class="max-w-4xl mx-auto bg-white py-12 px-12 lg:px-24 -mt-32 relative z-10">
    <h2 class="mt-4 uppercase tracking-widest text-xl text-gray-600">
      {price.currency}${parseFloat(price.unit_amount)/100.0}
      <span class="lowercase text-xs">(including tax where applicable)</span>
    </h2>
    <h1 class="font-display text-2xl md:text-3xl text-gray-900 mt-4">
      {entry.name}
    </h1>

    <div class="prose prose-sm sm:prose lg:prose-lg mt-6">
      <p>{entry.description}</p>
      <button
        id="join"
        class="inline-flex items-center justify-center w-full px-4 py-4 mt-8 font-semibold text-white transition-all duration-200 rounded-md bg-gradient-to-r from-fuchsia-600 to-blue-600 hover:opacity-80 focus:opacity-80">
        Login to Join
      </button>
    </div>
  </div>
  <script define:vars={{ price: entry.default_price }}>
    document.body.onload = function () {
      const join = document.getElementById('join')

      if (window.netlifyUser) {
        join.innerText = "Join Event"
      } 

      join.addEventListener('click', () => {
        if (!window.netlifyUser) {
          netlifyIdentity.open('login')
        } else {
          fetch('/api/join-event?price=' + price, {
            method: 'POST',
            headers: {
              Authorization: `Bearer ${window.netlifyUser.token.access_token}`
            },
            body: JSON.stringify(window.netlifyUser)
          })
            .then((res) => res.json())
            .then((session) => {
              window.location.href = session.url
            })
            .catch((err) => console.error(err))
        }
      })
    }
  </script>
</Layout>
