---
export const prerender = true
import { getCollection } from 'astro:content'
import Layout from '../layouts/default.astro'

const title = 'Contact Us'
const description =
  'We are a Registered Australian Proprietary Company, regulated by the Australian Securities and Investment Commission (ABN 52 637 146 895).'
const social = await getCollection('social')
---

<Layout {title} {description} schema="ContactPage">
  <div class="text-center py-12 px-6 mt-12">
    <h1 itemprop="name" class="font-display font-bold text-5xl mb-6">
      {title}
    </h1>
    <p itemprop="abstract description" class="max-w-lg mx-auto">
      {description}
    </p>
  </div>

  <div itemprop="mainContentOfPage" class="container mx-auto px-6 mb-12">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 max-w-4xl mx-auto">
      <div>
        {social.map(item => (
          <a href={item.data.url} class="flex items-center my-2">
            <span class:list={['h-6 w-6 mr-2', item.data.icon]} />
            {item.data.name}
          </a>
        ))}
      </div>

      <div>
        <form method="POST" name="contact" netlify netlify-honeypot>
          <p class="hidden">
            <label>
              Don’t fill this out if you’re human: <input name="bot-field" />
            </label>
          </p>
          <input type="hidden" name="form-name" value="contact" />
          <div>
            <label
              for="name"
              class="block text-base tracking-tight text-gray-600">Name</label
            >
            <input
              name="name"
              type="text"
              placeholder="Name"
              required
              class="mt-2 w-full border-none text-sm p-4 bg-gray-100 text-gray-700"
            />
          </div>
          <div class="mt-6">
            <label
              for="email"
              class="block text-base tracking-tight text-gray-600"
              >Email address</label
            >
            <input
              name="email"
              type="email"
              placeholder="your@email.com"
              required
              class="mt-2 w-full border-none text-sm p-4 bg-gray-100 text-gray-700"
            />
          </div>
          <div class="mt-6">
            <label
              for="message"
              class="block text-base tracking-tight text-gray-600"
              >Message</label
            >
            <textarea
              name="message"
              placeholder="Your message"
              required
              class="mt-2 w-full border-none text-sm p-4 bg-gray-100 text-gray-700"
            ></textarea>
          </div>
          <button
            type="submit"
            class="inline-block bg-yellow-800 text-white uppercase text-sm tracking-widest font-heading px-8 py-4 mt-6">
            Send message
          </button>
        </form>
      </div>
    </div>
  </div>
</Layout>
