---
export const prerender = true
import { Image } from 'astro:assets'
import Layout from '../layouts/default.astro'
import Banner from '../components/banner.astro'
import POTD from '../components/potd.astro'
import LatestArticle from '../components/latestarticle.astro'
import LatestReview from '../components/latestreview.astro'
import CategoryGrid from '../components/categorygrid.astro'
import Team from '../components/team.astro'
import CTA from '../components/cta.astro'

import image from '../assets/Penang.jpeg'

const title = 'world travel and photography'
const text =
  'We are passionate photographers and this site showcases our images, articles as well as occasional reviews of equipment and services.'
const button_text = 'Explore Content'
const button_link = '/posts'
const link_one = '/about-us'
const link_one_text = 'Find out more'
const link_two = '/contact'
const link_two_text = 'Get in touch'
---

<Layout>
  <div class="-mt-24 relative w-full py-12 px-12 bg-neutral-800">
    <div class="relative z-10 text-center py-12 md:py-24">
      <Banner link="Read more" href="/post/new-site">
        Welcome to the new version of Visual Voyager!
      </Banner>
      <h1
        class="text-white text-center text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-display font-bold mb-6">
        {title}
      </h1>
      <p
        class="max-w-xl mx-auto text-white text-center text-base md:text-xl italic mb-12">
        {text}
      </p>
      <a
        href={button_link}
        class="inline-block bg-purple-800 text-white uppercase text-sm tracking-widest font-heading px-8 py-4"
        >{button_text}</a
      >
    </div>

    <div
      class="relative z-10 mx-auto max-w-4xl flex justify-between uppercase text-white font-heading tracking-widest text-sm">
      <a href={link_one} class="border-b border-white">{link_one_text}</a>
      <a href={link_two} class="border-b border-white">{link_two_text}</a>
    </div>

    <Image
      src={image}
      alt="cover"
      class="w-full h-full absolute inset-0 object-cover opacity-70"
    />
  </div>

  <POTD />
  <LatestArticle />
  <LatestReview />
  <CategoryGrid />
  <Team />
  <CTA />
</Layout>
