---
import { Settings, FooterMenu, Copyright } from '../config'
---

<div
  class="bg-gray-900 text-white text-opacity-40 font-semibold text-sm tracking-widest bg-opacity-80 px-12">
  <div
    class="container mx-auto grid grid-cols-1 lg:grid-cols-4 gap-12 text-center lg:text-left py-8">
    <div>
      <div class="text-white opacity-50 text-2xl xl:text-3xl font-display">
        {
          Settings.logo ? (
            <img
              src={Settings.logo.src}
              alt="Logo"
              class="w-full object-contain object-center"
            />
          ) : (
            Settings.site_name
          )
        }
      </div>
    </div>
    <div>
      <div
        id="status"
        class="font-display text-white text-sm tracking-widest mb-6">
        Not logged in
      </div>
      <div class="block mb-4">
        <span class="w-6 h-6 i-fa6-solid-id-card"></span>
        <button id="manage">Login/signup</button>
      </div>
      <a href="/rss.xml" class="block mb-4">
        <span class="w-6 h-6 i-fa6-solid-rss"></span>
        RSS
      </a>
      <a href="/sitemap-index.xml" class="block mb-4">
        <span class="w-6 h-6 i-fa6-solid-sitemap"></span>
        Sitemap
      </a>
      <a href="/admin/" class="block mb-4">
        <span class="w-6 h-6 i-fa6-solid-wrench"></span>
        Admin
      </a>
    </div>
    {
      FooterMenu.map((section) => (
        <div>
          <div class="font-display text-white uppercase text-sm tracking-widest mb-6">
            {section.title}
          </div>
          {section.links.map((item) => (
            <a href={item.url} class="block mb-4">
              {item.icon && <span class:list={['w-6 h-6', item.icon]} />}
              {item.text}
            </a>
          ))}
        </div>
      ))
    }
  </div>
  <div
    class="text-sm lg:text-base text-center font-heading font-light tracking-widest uppercase text-white opacity-75 pb-8">
    &copy;{Copyright}
  </div>
</div>
