---
import type { CollectionEntry } from 'astro:content'
import { getEntry } from 'astro:content'
import Layout from '../layouts/default.astro'
import PostDetail from './postdetail.astro'
import Gallery from './gallery.astro'
import Map from './map.astro'

interface Props {
  post: CollectionEntry<'post'>
}

const { post } = Astro.props

const geomap = post.data.geo ? JSON.parse(post.data.geo) : null

const author = await getEntry(post.data.author)
---

<Layout
  author={author.data.title}
  title={post.data.title}
  description={post.data.description}
  date={post.data.date}
  tags={post.data.tags}
  schema="Article">
  <div
    class={post.data.categories.includes('Photo of the Day')
      ? 'relative h-full w-full'
      : 'relative h-96'}>
    <img src={post.data.image} class="w-full h-full object-cover" />
  </div>

  <div
    class:list={[
      'max-w-4xl mx-auto bg-white py-12 px-12 lg:px-24 relative z-10',
      post.data.categories.includes('Photo of the Day') ? '' : '-mt-32'
    ]}>
    <div>
      {
        post.data.categories &&
          post.data.categories.map((cat) => (
            <span class="mr-2 p-1 bg-purple-700 text-white rounded text-sm font-bold">
              {cat}
            </span>
          ))
      }
    </div>
    <h1 class="font-display text-2xl md:text-3xl text-neutral-900 mt-4">
      {post.data.title}
    </h1>
    <PostDetail {post} />
    <div class="prose prose-sm sm:prose lg:prose-lg mt-6">
      <slot />
    </div>
    <div class="pb-8">
      {
        post.data.tags &&
          post.data.tags.map((tag) => (
            <a
              href={'/tag/' + tag}
              class="mr-2 p-1 bg-purple-100 text-neutral-700 rounded text-sm">
              #{tag}
            </a>
          ))
      }
    </div>
  </div>
  {post.data.gallery && <Gallery folder={post.data.gallery} />}
  {
    post.data.geo && (
      <Map
        text={post.data.title}
        lat={parseFloat(geomap.coordinates[1])}
        lng={parseFloat(geomap.coordinates[0])}
        zoom={16}
      />
    )
  }
  <div class="giscus max-w-4xl mx-auto"></div>
  <script
    src="https://giscus.app/client.js"
    data-repo="ChristineTham/vv-auth"
    data-repo-id="R_kgDOJhNiAw"
    data-category="Announcements"
    data-category-id="DIC_kwDOJhNiA84CWdT7"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light_protanopia"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  ></script>
</Layout>
